.mq-sticky-nav
{
    position: -webkit-sticky;
    //position: sticky;
    top: -1px;
    z-index: 2;
    background: white;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo-search
{
    background: none;
    margin-top: 1em;
}
.profil-acount
{
    background: none;
    padding: 0;
    margin-top: 1em;
}
.container
{
    width: 80%;
    height: 5em;
}
.row
{
    margin: 0;
    padding: 0;
}
.martmax-search-form
{
    margin-top: 1em;
}
@media only screen and (max-width: 768px){
    .mq-sticky-nav{
        position: -webkit-sticky;
        position: sticky;
        top: -1px;
        z-index: 3;
        background: white;
        border: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 7em;
    }
    .container{
        height: 7em;
    }
    .profil-acount
    {
        display: none;
    }
    .martmax-search-form
    {
        width: 100;
        margin: 0;
        padding: 0;
    }
    .logo-search
    {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}