<nav class="navbar navbar-inverse mq-sticky-nav hidden-lg hidden-md hidden-sm hidden-xs" data-spy="affix" data-offset-top="100">
    <div class=" container">
        <div class="row">
            <div class="col-xs-12 col-md-8 logo-search">
                <div class="row">
                    <div class="col-xs-5 col-md-3 logo-div">
                        <p><img routerLink="/home" src="../../../../../assets/images/martmax-logo.png" class="img-responsive logo"></p>
                    </div>  
                    <div class="col-xs-7 col-md-9 martmax-search-form">
                        <martmax-search-form></martmax-search-form>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-md-4 profil-acount">
                <martmax-search></martmax-search>
            </div>
        </div>
    </div>    
</nav> 
