.row
{
    margin: 0;
}
.ae-mg-col
{
    padding: 0;
    margin-top: .2em;
}

#mo-search-form
{
    padding-top: 20px;
    padding-right: 0;
    width: 100%;
    margin: 0;
    padding-left: 0;
}

.btnsearch
{
    width: 100%;
    background: #F4C20D;
    border: #F4C20D solid 1px;
    border-radius:0;
}
.gropform
{
   width: 100%;
}
.img-col
{
    padding: 0;
}

.pr
{
    width: 100%;
    height: 5em;
    padding:0.5em; 
}

.search-txt
{
    border-radius: 0;
    border-color: #F4C20D;
}
.sticky
{
    position: -webkit-sticky;
    top: -1px;
    z-index: 4;
    width: -moz-available;
}
.affix
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    top: -1px;
    z-index: 4;
}

.affix-top div#slog
{
    display:block; 
    
}
.affix-top div#sticky-logo
{
    display:none !important; 
    
}
.affix div#sticky-logo
{
    display:block !important; 
    padding-left: 4em;
    margin-top: 1.2em;
    
}
.affix div#sticy-logo-affix-top
{
    display:none !important; 
    
}
.affix-top div#cart-affix
{
    display:none !important; 
}

.affix div#slog
{
    display:none !important;
    
}
.affix div#cart-affix
{
    display:block !important;
    color:#F4C20D;
    font-size: 14px;  
    width: 3%;
    margin: 0;
    padding: 0;
    margin-left: 1em;
    font-size: 25px;
}
.affix span#cart-affix-span
{
    color:#F4C20D;
}

.affix div#search-id-affix
{
    width: 60%;
}
.affix-top div#cart-affix-account
{
    display:none !important;
}
.affix div#cart-affix-account
{
    font-size: 14px;
    margin-left: 1em;
    color: #F4C20D;
    border: #F4C20D solid .3px;
    margin-top: 2em;
    padding: 0;
    display: block !important;
    color: #F4C20D;
    float: right;
}

#account-link-drop
{
    margin-left: 1em;
    color: #555;
}
#cart-affix
{
    float: right;
}
/*****************media*******************/
@media(max-width:767px) {
    .container
    {
        padding: 0;
    }
    .row
    {
        margin: 0;
        padding: 0;
    }
    .ae-mg-col
    {
        padding-right: 10px;
        padding-left: 10px;
        
    }
    .scarp-bg
    {
        margin: 0;
       
    }

    .drop-col
    {
        margin: 0;
        color: blue;
        background: none;
        border-radius: 0;
        border: 0;
    }
    .btn-togle
    {
        padding-top: 0;
        padding-bottom: 0;
        color: #0097df;
        background: none;
        border-radius: 0;
        border: 0;
        float: right;
    }
    
    .drop-ul>li
    {
        border-bottom:#09287d solid 1px;
        padding:5px;
        margin:2px;
    }
    .primum-btn
    {
        border: none;
        background: none;
        margin: 0;
        padding: 0;
    }
    .acc-drop>p
    {
        margin-bottom: 0;
    }

    .srchfor
    {
        padding-top:0;
    }
    .img-col
    {
        padding: 0;
        margin: 0;
    }

    .btnsearch
    {
        padding-bottom: 0;
        padding-top: 0;
        border: 0;
        background: none;
        height: 1.5em;
    }

    .glyphicon-shopping-cart
    {
        color: #0097df;
        float: right;
    }
    #btn-tog:hover 
    {
        color: #0097df;
        background-color: white;
        border-color: white;
    }
    #btn-tog:focus
    {
        color: #0097df;
        background-color: white;
        border-color: white;
    }
    .glyphicon-option-vertical
    {
        float: right;
        color: #0097df;
    }
    .glyphicon-search
    {
        float: right;
    }
    .glyphicon-align-justify
    {
        color: #0097df;
        
    }

    .glyphicon-option-vertical:before
    {
        float: right;
    }
    .drop-ul-right
    {
        min-width: 120px;
        font-size: 13px;
    }
    .dropdown-menu>li>a 
    {
       text-align: center;  
    }
}
 
.mo-scrap-contnent
{
    background-color: white;
   padding: 0;
}

.scrap-container
{
    padding: 0;
}

.martmax-slogan
{
    top: 17px;
}

#search-icon
{
    color: white;
    border-radius:0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #666;
  font-weight: 200;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #666;
  font-weight: 300;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #666;
  font-weight: 300;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #666;
  font-weight: 300;
}

.mobile-icon{
    font-size:larger;
    color:#0097df;
    line-height: 2.6;
    }
    

    .martmax-mobile
    {
        width: 46px;
        height: 46px;
    }

    .mobile-form
    {
        margin: 0;
    }


 /* Small only */
@media screen and (max-width: 39.9375em)
{
    #mo-scrap-contnent
    {
        height: 25px;
    }
    .affix div#sticky-logo
    {
        display:none !important; 
    }
    .affix div#cart-affix-account
    {
        display:none !important; 
    }
    .affix div#cart-affix
    {
        display:none !important; 
    }
}

/* Medium and up */
@media screen and (min-width: 40em) and (max-width: 63.9375em)
{
    #mo-scrap-contnent
    {
        height: 35px;
    }
    .affix div#sticky-logo
    {
        display:none !important; 
    }
    .affix div#cart-affix-account
    {
        display:none !important; 
    }
    .affix div#cart-affix
    {
        display:none !important; 
    }

    .mobile-icon
    {
       float: right;
    }

    #menu-btn
    {
        float: left
   }
}
@media screen and (min-width: 992px) and (max-width: 1200px)
{
    #mo-search-form
    {
        padding-top: 13px;
    }
}

.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}

.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0,0,0);
	z-index: 99;
}

.responsive-menu{
	display: none;
}

.expand {
	display: block !important; 
}
