<div *ngIf="categories" class="hidden-lg hidden-md">
    <div *ngFor="let cat of categories">
	<h1>{{ cat.text }}
		<a [routerLink]="['/products/promotion', cat.text, cat.text, 1]" target="_blank">
		    <span class="glyphicon glyphicon-search"></span>
		</a>
	</h1>
	<div *ngFor="let nd of cat.children">
	    <h2><i class="glyphicon glyphicon-asterisk"></i>{{ nd.text }}
	    	<a [routerLink]="['/products/promotion', nd.text, nd.text, 1]" target="_blank">
		    <span class="glyphicon glyphicon-search"></span>
		</a>
	    </h2>
	    <div *ngFor="let rd of nd.children">
		<h3><i class="glyphicon glyphicon-menu-right"></i>{{ rd.text }}
		    <a [routerLink]="['/products/promotion', rd.text, rd.text, 1]" target="_blank">
			<span class="glyphicon glyphicon-search"></span>
			</a>
		</h3>
		<div *ngFor="let th of rd.children">
		    <h4><i class="glyphicon glyphicon-ok"></i>{{ th.text }}
			<a [routerLink]="['/products/promotion', th.text, th.text, 1]" targt="_blank">
			    <span class="glyphicon glyphicon-search"></span>
			    </a>
		    </h4>
		    <div *ngFor="let fifth of th.children">
			<h5><i class="glyphicon glyphicon-leaf"></i>{{ fifth.text }}
			    <a [routerLink]="['/products/promotion', fifth.text, fifth.text, 1]" target="_blnk">
				<span class="glyphicon glyphicon-search"></span>
			</a>
			</h5>
		    </div>
		</div>
	    </div>
	</div>
	<hr />
    </div>
</div>
<div class="container-fluid father-con-fluid-pad">
    <div class="row mg-pd">
        <div class="col-md-12 mg-pd">
            <nav class="navbar mg-pd">
                <ul class="nav navbar-nav mg-pd">
                  <a class="mg-pd a-nav-top" href="#">All Category ></a>
                  <a class="mg-pd a-nav-top" href="#">mens ></a>
                  <a class="mg-pd a-nav-top" href="#">shirts ></a>
                </ul>
                <form class="navbar-form navbar-left mg-pd">
                    <div class="input-group mg-pd">
                      <input type="text" class="form-control mg-pd inp-height" placeholder="Search within category">
                      <div class="input-group-btn mg-pd">
                        <button class="btn btn-default mg-pd" type="submit">
                          <i class="glyphicon glyphicon-search"></i>
                        </button>
                      </div>
                    </div>
                </form>
            </nav>
        </div>
        <div class="col-md-12 mg-pd">
            <div class="row mg-pd">
                <div class="col-md-2 col-lft mg-pd">
                    <ul class="nav nav-tabs tabs-left">
                        <li><a href="#home" data-toggle="tab">👔 mens products</a></li>
                        <li><a href="#profile" data-toggle="tab">👚 women products</a></li>
                        <li><a href="#settings" data-toggle="tab">💅 girl products</a></li>
                        <li><a href="#profile" data-toggle="tab">👚 women products</a></li>
                        <li><a href="#settings" data-toggle="tab">💅 girl products</a></li>
                        <li><a href="#profile" data-toggle="tab">👚 women products</a></li>
                        <li><a href="#settings" data-toggle="tab">💅 girl products</a></li>
                        <li><a href="#profile" data-toggle="tab">👚 women products</a></li>
                        <li><a href="#settings" data-toggle="tab">💅 girl products</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-md-10 col-rit mg-pd">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="row mg-pd">
                                <div class="col-md-12 mg-pd border-brand-div">
                                    <div class="panel-group border-none">
                                        <div class="panel panel-default border-none box-botten">
                                            <div class="panel-heading border-none">
                                                
                                                <ul class="nav navbar-nav mg-pd ul-first-colmn">
                                                    <a class="mg-pd a-nav" href="#">one</a>
                                                    <a class="mg-pd a-nav" href="#">tow</a>
                                                    <a class="mg-pd a-nav" href="#">three</a>


                                                    <a id="bottom-raw" data-toggle="collapse" href="#collapse1">▼</a>
                                                </ul>
                                            </div>
                                            <div id="collapse1" class="panel-collapse collapse border-none">
                                                <ul class="list-inline">
                                                    <li><a class="mg-pd a-nav" href="#">dfghj</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">sssssssssss</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">ddddddddd</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">dfghj</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">sssssssssss</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">ddddddddd</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">dfghj</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">sssssssssss</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">ddddddddd</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">dfghj</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">sssssssssss</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">ddddddddd</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">dfghj</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">sssssssssss</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">ddddddddd</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">dfghj</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">sssssssssss</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">ddddddddd</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mg-pd div-check">
                                    <form class="check-form">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default height-btn">
                                                
                                                <input type="checkbox" value="" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>
                                            Free shipping usa
                                        </div>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default height-btn">
                                                <input type="checkbox" value="" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>
                                            cash off
                                        </div>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default height-btn">
                                                <input type="checkbox" value="" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>
                                            From china
                                        </div>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default height-btn">
                                                <input type="checkbox" value="" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>
                                            less 10$
                                        </div>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default height-btn">
                                                <input type="checkbox" value="" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>
                                            Free shipping usa
                                        </div>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default height-btn">
                                                <input type="checkbox" value="" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>
                                            Free shipping usa
                                        </div>
                                        
                                    </form>
                                </div>
                                <div class="col-md-12 mg-pd div-sortby">
                                    <span class="span-sortby">Sort by :</span>
                                    <ul class="nav navbar-nav ul-sortby">
                                        <li class=""><a href="#">Best Match</a></li>
                                        <li class=""><a href="#">Newest</a></li>
                                        <li class=""><a href="#">Price: High to low</a></li>
                                        <li class=""><a href="#">Price: Low to high</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-5 mg-pd">
                                    <button type="button" class="btn btn-discount" data-toggle="collapse" data-target="#demo">discount:</button>
                                    <div id="demo" class="collapse collapse-discount">
                                        <ul class="list-inline list-inline-botom"><li>25%</li><li>50%</li><li>75%</li></ul>
                                    </div>
                                </div>
                                <div class="col-md-5 mg-pd">
                                    <button type="button" class="btn btn-discount" data-toggle="collapse" data-target="#demo2">from:</button>
                                    <div id="demo2" class="collapse collapse-from">
                                        <ul class="list-inline list-inline-botom"><li>USA</li><li>CHINA</li><li>KORIA</li></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="home">Home Tab.</div>
                        <div class="tab-pane" id="profile">Profile Tab.</div>
                        <div class="tab-pane" id="messages">Messages Tab.</div>
                        <div class="tab-pane" id="settings">Settings Tab.</div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="container-fluid father-con-fluid-pad">
    <div class="row mg-pd">
        <div class="col-md-12 mg-pd">
            <nav class="navbar mg-pd">
                <ul class="nav navbar-nav mg-pd">
                  <a class="mg-pd a-nav-top" href="#">All Category ></a>
                  <a class="mg-pd a-nav-top" href="#">mens ></a>
                  <a class="mg-pd a-nav-top" href="#">shirts ></a>
                </ul>
                <form class="navbar-form navbar-left mg-pd">
                    <div class="input-group mg-pd">
                      <input type="text" class="form-control mg-pd inp-height" placeholder="Search within category">
                      <div class="input-group-btn mg-pd">
                        <button class="btn btn-default mg-pd btn-srch" type="submit">
                          <i class="glyphicon glyphicon-search"></i>
                        </button>
                      </div>
                    </div>
                </form>
            </nav>
        </div>
        <div class="col-md-12 mg-pd">
            <div class="row mg-pd">
                <div class="col-md-2 col-lft mg-pd">
                    <ul class="nav nav-tabs tabs-left">
                        <li><a href="#home" data-toggle="tab">👔 mens products</a></li>
                        <li><a href="#profile" data-toggle="tab">👚 women products</a></li>
                        <li><a href="#settings" data-toggle="tab">💅 girl products</a></li>
                        <li><a href="#profile" data-toggle="tab">👚 women products</a></li>
                        <li><a href="#settings" data-toggle="tab">💅 girl products</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-md-10 col-rit mg-pd">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="row mg-pd">
                                <div class="col-md-12 mg-pd col-Brands">
                                    <div class="all-brand">
                                        All Brands
                                    </div>
                                    <div class="scrollmenu">
                                        <a href="#home">Home</a>
                                        <a href="#news">News</a>
                                        <a href="#contact">Contact</a>
                                        <a href="#about">About</a>
                                        <a href="#support">Support</a>
                                        <a href="#blog">Blog</a>
                                        <a href="#tools">Tools</a>  
                                        <a href="#base">Base</a>
                                        <a href="#custom">Custom</a>
                                        <a href="#more">More</a>
                                        <a href="#logo">Logo</a>
                                        <a href="#friends">Friends</a>
                                        <a href="#partners">Partners</a>
                                        <a href="#people">People</a>
                                        <a href="#work">Work</a>
                                        <a href="#tools">Tools</a>  
                                        <a href="#base">Base</a>
                                        <a href="#custom">Custom</a>
                                        <a href="#more">More</a>
                                        <a href="#logo">Logo</a>
                                        <a href="#friends">Friends</a>
                                        <a href="#partners">Partners</a>
                                        <a href="#people">People</a>
                                        <a href="#work">Work</a>
                                        <a href="#tools">Tools</a>  
                                        <a href="#base">Base</a>
                                        <a href="#custom">Custom</a>
                                        <a href="#more">More</a>
                                        <a href="#logo">Logo</a>
                                        <a href="#friends">Friends</a>
                                        <a href="#partners">Partners</a>
                                        <a href="#people">People</a>
                                        <a href="#work">Work</a>
                                        <a href="#tools">Tools</a>  
                                        <a href="#base">Base</a>
                                        <a href="#custom">Custom</a>
                                        <a href="#more">More</a>
                                        <a href="#logo">Logo</a>
                                        <a href="#friends">Friends</a>
                                        <a href="#partners">Partners</a>
                                        <a href="#people">People</a>
                                        <a href="#work">Work</a>
                                        <a href="#tools">Tools</a>  
                                        <a href="#base">Base</a>
                                        <a href="#custom">Custom</a>
                                        <a href="#more">More</a>
                                        <a href="#logo">Logo</a>
                                        <a href="#friends">Friends</a>
                                        <a href="#partners">Partners</a>
                                        <a href="#people">People</a>
                                        <a href="#work">Work</a>
                                        <a href="#tools">Tools</a>  
                                        <a href="#base">Base</a>
                                        <a href="#custom">Custom</a>
                                        <a href="#more">More</a>
                                        <a href="#logo">Logo</a>
                                        <a href="#friends">Friends</a>
                                        <a href="#partners">Partners</a>
                                        <a href="#people">People</a>
                                        <a href="#work">Work</a>
                                    </div>
                                </div>
                                <div class="col-md-12 mg-pd div-check">
                                    <form class="check-form">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default height-btn">
                                                
                                                <input type="checkbox" value="" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>
                                            Free shipping usa
                                        </div>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default height-btn">
                                                <input type="checkbox" value="" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>
                                            cash off
                                        </div>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default height-btn">
                                                <input type="checkbox" value="" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>
                                            From china
                                        </div>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default height-btn">
                                                <input type="checkbox" value="" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>
                                            less 10$
                                        </div>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default height-btn">
                                                <input type="checkbox" value="" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>
                                            Free shipping usa
                                        </div>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default height-btn">
                                                <input type="checkbox" value="" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>
                                            Free shipping usa
                                        </div>
                                        
                                    </form>
                                </div>
                                <div class="col-md-12 mg-pd div-sortby">
                                    <span class="span-sortby">Sort by :</span>
                                    <ul class="nav navbar-nav ul-sortby">
                                        <li class=""><a href="#">Best Match</a></li>
                                        <li class=""><a href="#">Newest</a></li>
                                        <li class=""><a href="#">Price: High to low</a></li>
                                        <li class=""><a href="#">Price: Low to high</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="home">Home Tab.</div>
                        <div class="tab-pane" id="profile">Profile Tab.</div>
                        <div class="tab-pane" id="messages">Messages Tab.</div>
                        <div class="tab-pane" id="settings">Settings Tab.</div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="container-fluid father-con-fluid-pad">
    <div class="row mg-pd">
        <div class="col-md-12 mg-pd">
            <nav class="navbar mg-pd">
                <ul class="nav navbar-nav mg-pd">
                  <a class="mg-pd a-nav-top" href="#">All Category ></a>
                  <a class="mg-pd a-nav-top" href="#">mens ></a>
                  <a class="mg-pd a-nav-top" href="#">shirts ></a>
                </ul>
                <form class="navbar-form navbar-left mg-pd">
                    <div class="input-group mg-pd">
                      <input type="text" class="form-control mg-pd inp-height" placeholder="Search within category">
                      <div class="input-group-btn mg-pd">
                        <button class="btn btn-default mg-pd" type="submit">
                          <i class="glyphicon glyphicon-search"></i>
                        </button>
                      </div>
                    </div>
                </form>
            </nav>
        </div>
        <div class="col-md-12 mg-pd">
            <div class="row mg-pd">
                <div class="col-md-2 col-lft mg-pd">
                    <ul class="nav nav-tabs tabs-left">
                        <li><a href="#home" data-toggle="tab" style="padding-left: 0; color: #555;">< mens products</a></li>
                        <li><a href="#profile" data-toggle="tab" style="padding-left: 8px; color: #555; ">< women products</a></li>
                        <li><a href="#settings" data-toggle="tab" style="padding-left: 16px; color: #555;">< girl products</a></li>
                        
                    </ul>
                </div>
                <div class="col-sm-10 col-md-10 col-rit mg-pd">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="row mg-pd">
                                <div class="col-md-12 mg-pd border-brand-div">
                                    <div class="panel-group border-none">
                                        <div class="panel panel-default border-none box-botten">
                                            <div class="panel-heading border-none">
                                                
                                                <ul class="nav navbar-nav mg-pd ul-first-colmn">
                                                    <a class="mg-pd a-nav" href="#">one</a>
                                                    <a class="mg-pd a-nav" href="#">tow</a>
                                                    <a class="mg-pd a-nav" href="#">three</a>


                                                    <a id="bottom-raw" data-toggle="collapse" href="#collapse1">▼</a>
                                                </ul>
                                            </div>
                                            <div id="collapse1" class="panel-collapse collapse border-none">
                                                <ul class="list-inline">
                                                    <li><a class="mg-pd a-nav" href="#">dfghj</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">sssssssssss</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">ddddddddd</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">dfghj</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">sssssssssss</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">ddddddddd</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">dfghj</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">sssssssssss</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">ddddddddd</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">dfghj</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">sssssssssss</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">ddddddddd</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">dfghj</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">sssssssssss</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">ddddddddd</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">dfghj</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">sssssssssss</a></li>
                                                    <li><a class="mg-pd a-nav" href="#">ddddddddd</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mg-pd div-check">
                                    <form class="check-form">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default height-btn">
                                                
                                                <input type="checkbox" value="" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>
                                            Free shipping usa
                                        </div>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default height-btn">
                                                <input type="checkbox" value="" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>
                                            cash off
                                        </div>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default height-btn">
                                                <input type="checkbox" value="" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>
                                            From china
                                        </div>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default height-btn">
                                                <input type="checkbox" value="" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>
                                            less 10$
                                        </div>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default height-btn">
                                                <input type="checkbox" value="" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>
                                            Free shipping usa
                                        </div>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default height-btn">
                                                <input type="checkbox" value="" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>
                                            Free shipping usa
                                        </div>
                                        
                                    </form>
                                </div>
                                <div class="col-md-12 mg-pd div-sortby">
                                    <span class="span-sortby">Sort by :</span>
                                    <ul class="nav navbar-nav ul-sortby">
                                        <li class=""><a href="#">Best Match</a></li>
                                        <li class=""><a href="#">Newest</a></li>
                                        <li class=""><a href="#">Price: High to low</a></li>
                                        <li class=""><a href="#">Price: Low to high</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-5 mg-pd">
                                    <button type="button" class="btn btn-discount" data-toggle="collapse" data-target="#demo">discount:</button>
                                    <div id="demo" class="collapse collapse-discount">
                                        <ul class="list-inline list-inline-botom"><li>25%</li><li>50%</li><li>75%</li></ul>
                                    </div>
                                </div>
                                <div class="col-md-5 mg-pd">
                                    <button type="button" class="btn btn-discount" data-toggle="collapse" data-target="#demo2">from:</button>
                                    <div id="demo2" class="collapse collapse-from">
                                        <ul class="list-inline list-inline-botom"><li>USA</li><li>CHINA</li><li>KORIA</li></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="home">Home Tab.</div>
                        <div class="tab-pane" id="profile">Profile Tab.</div>
                        <div class="tab-pane" id="messages">Messages Tab.</div>
                        <div class="tab-pane" id="settings">Settings Tab.</div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>