<a class="btn btn-primary navbar-toggle small-menu" data-toggle="collapse" data-target="#martmax-sticky">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>
<div class="collapse navbar-collapse navbar-form" id="martmax-sticky">
    <!-- account -->
    <ul class="nav navbar-nav navbar-right account" style="background-color:white">
        
        <li class="dropdown">
            <p class="profile dropdown-toggle profile" data-toggle="dropdown">My Account <span class="glyphicon glyphicon-triangle-bottom"></span></p>
            <ul class="dropdown-menu profile-menu">
                <li><i class="glyphicon glyphicon-triangle-top menu-icon hidden-xs"></i></li>
                <li><a routerLink="/auth/login" *ngIf="!this.isloggedIn" class="gradient btn btn-primary track-btn  center-block" id="login-btn">Log in</a></li>
                <li><a *ngIf="this.isloggedIn" (click)="logedout();"  class="gradient btn btn-primary track-btn  center-block" id="login-btn">Log out</a></li>
                <li>
                    <h6 class="text-center menu-label">New customer</h6>
                </li>
                <li><a  routerLink="/auth/register" class="sign-up btn btn-default  center-block">Sign up</a></li>
                <li>
                    <hr>
                </li>
                <li>
                    <h6 class="text-center  menu-label">Track your order</h6>
                </li>
                <li><input class="form-control track-btn center-block3" type="text" placeholder="oreder number"></li>
                <li><input class="text-center form-control track-btn center-block3" type="email" placeholder="your email"></li>
                <li><a class="gradient btn btn-primary track-btn track-btn-white center-block3" id="track-btn">Track order</a></li>
            </ul>
        </li>
        <li class="pre-btn" *ngIf="this.isloggedIn"><button routerLink="/users/profile" class="profile-bg center-block prof">Profile</button></li>
        <li class="center-block"><span class="glyphicon glyphicon-heart" id="wishlist"></span></li>
        <li class="text-center">
            <div routerLink="/cart" routerLinkActive="active" class="glyphicon glyphicon-shopping-cart cart"><span class="badge mo-cart-num">{{cartNum}}</span></div>
        </li>
       
    </ul>
</div>