.ngui-datetime-picker {
  background-color: blue;
}

input[type="email"]:valid {
border: 2px solid #eaeaea;
}

input[type="email"]:invalid {
border: 2px solid red;
}

input[type="text"]:valid {
border: 2px solid #eaeaea;
}

input[type="text"]:invalid {
border: 2px solid red;
}

input[type="password"]:valid {
border: 2px solid #eaeaea;
}

input[type="password"]:invalid {
border: 2px solid red;
}

#reg-box
{
  background-color:#eaeaea;
}

.frm-ctrl
{
  height: 40px;
  border-radius: 10px;
}

.signUp
{
  width: 20em;
  font-weight: bold;
  color: white;
}

.reg-txt
{
padding: 1.5em;
}

/* Small only */
@media screen and (max-width: 39.9375em)
{
.frm-ctrl
{
max-width: 80%;
margin: 0 auto
}

.frt-name, .lst-name
{
width: 100%;
}

.signUp
{
max-width: 50%;
margin: 0 auto
}

.reg-txt
{
font-size: medium;
}

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) 
{
.frm-ctrl
{
  max-width: 80%;
  margin: 0 auto
}

.frt-name, .lst-name
{
  width: 100%;
}

.reg-txt
{
  font-size: large;
}

.signUp
{
  max-width: 50%;
  margin: 0 auto
}
}
