.banners-content
{  
    background-color: white;
    height: auto;
}

.carousel-control span
{
    background: none;
}

.padding-0
{
    padding: 0;
}

.mo-banners-list li
{
    padding-top: 1em;
    font-size: small;
}

.mo-banners-category
{
    background-color: white;
}

.parent
{
    border-bottom: #c0c0c0 solid 1px;
}

.banner-img-border
{
    border: #EEEEEE solid 1px;
}

.banner-img-border:hover
{
    -webkit-box-shadow: 1px 1px 24px -3px rgba(0,0,0,0.72);
    -moz-box-shadow: 1px 1px 24px -3px rgba(0,0,0,0.72);
    box-shadow: 1px 1px 24px -3px rgba(0,0,0,0.72);
}

.banner-label
{
color: white;
}

.middle-top-banner
{
    position: absolute; 
    top: 50px;
    padding: 1em; 
    left: 0; 
    width: 100%; 
    font-weight: 400;
}

.middle-banner-top
{
    height: 50%;
     width: 100%;
     margin: 0;
     padding: 0;
}

.right-banner
{
    height: 50%; 
    width: 100%;
}

.height-image-banner
{
    height: 35em;
}

.max-height
{
    height: 35em;
}

.mid-height-max-width
{
    height: 50%;
    width: 100%
}

.max-height-max-width
{
    height:80%;
    width:100%
}

.min-height-min-width
{
    height: 50%;
    width:50%
}

.height-image-banner
{
height: 35em;
}

.bottom-banner-height
{
    height: 10em;
    padding: 1em;
    background-color:white; 
}

/* Small only */
@media screen and (max-width: 39.9375em)
 {

    .banners-content
    {
        height: auto;
    }

    .height-image-banner
    {
    height: 10em;
    }

    .middle-banner-top
    {
        height: 8em;
    }

    .mid-height-max-width
    {
        height: 50%;
        width: 50%
    }

    .bottom-banner-height
    {
        height: 5em;
        padding: 0;
        margin: 0;
    }

    .max-height
    {
        height: 20em;
    }

    .max-height-max-width
    {
        height: 100%;
    }

    .mo-banners-list
    {
        height: 0;
    }

    .category-main-title
    {
        font-size: 16px;
    }

 }
 
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) 
{
    .bottom-banner-height
    {
        height: 9em;
        padding: 0;
    }

    .mid-height-max-width
    {
        height: 50%;
        width: 50%;
    }
}

.swiper-slide
{
    position: relative;
}

.banner-text
{
    padding: 5px 5px;
    cursor: pointer;
    color: #545454;
    font-weight: bold;
    position:absolute;
    bottom: 50px;
    left: 10px;
    right: 10px;
    width: 90%;
    font-size: small;
    margin: 0 auto;
   color: white;
   filter: alpha(opacity=60);
   -moz-opacity: 0.6;
   opacity: 0.6;
}