<martmax-header></martmax-header>
<martmax-scroll></martmax-scroll>
<scrap></scrap>

<div class="container-fluid filter">
    <div class="row">
        <div class="left-side">
            <div class="filter-side">
                <h3>refine your search <img src="http://res.cloudinary.com/dzl9mwemk/image/upload/v1504552913/hide_igsdfp.svg" class="hide-filter text-right" alt="" /></h3>
                <div class="brand-div ">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Material     <i class="glyphicon glyphicon-minus"></i>
                        </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in " role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <ul class="boxes">
                                        <li>
                                            <input type="checkbox" id="box-1">
                                            <label for="box-1">Cotton</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="box-2">
                                            <label for="box-2">Polyester</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="box-3">
                                            <label for="box-3">Chiffon</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="box-4">
                                            <label for="box-4">Denim</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="box-5">
                                            <label for="box-5">Yarn</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Color <i class="glyphicon glyphicon-minus"></i>
                        </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <ul class="boxes" id="#main-filter">
                                        <li>
                                            <input type="checkbox" id="box-6">
                                            <label for="box-6">Multicolor</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="box-7">
                                            <label for="box-7">Black</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="box-8">
                                            <label for="box-8">White</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="box-9">
                                            <label for="box-9">Red</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="box-10">
                                            <label for="box-10">Blue</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                          Size  <i class="glyphicon glyphicon-minus"></i>
                        </a>
                                </h4>
                            </div>
                            <div id="collapsefour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingfour">
                                <div class="panel-body">
                                    <ul class="boxes selected">
                                        <li>
                                            <input type="checkbox" id="box-11">
                                            <label for="box-11">M</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="box-12">
                                            <label for="box-12">L</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="box-13">
                                            <label for="box-13">XL</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="box-14">
                                            <label for="box-14">S</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="box-15">
                                            <label for="box-15">Free Size</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="box-16">
                                            <label for="box-11">M</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="box-17">
                                            <label for="box-12">L</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="box-18">
                                            <label for="box-13">XL</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="box-19">
                                            <label for="box-14">S</label>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="box-20">
                                            <label for="box-15">Free Size</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingfive">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                          Budget  <i class="glyphicon glyphicon-minus"></i>
                        </a>
                                </h4>
                            </div>
                            <div id="collapsefive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingfive">
                                <div class="panel-body range">
                                    <input type="text" placeholder="20 RM" class="form-control" />
                                    <input type="text" placeholder="50 RM" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingsix">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                          Discount  <i class="glyphicon glyphicon-minus"></i>
                        </a>
                                </h4>
                            </div>
                            <div id="collapsesix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingsix">
                                <div class="panel-body range">
                                    <ul class="brands-menu">
                                        <li class><span>>10%</span></li>
                                        <li><span>>25%</span></li>
                                        <li><span>>50%</span></li>
                                        <li><span>>70%</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          brands   <i class="glyphicon glyphicon-minus"></i>
                        </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body brands">
                                    <ul class="brands-menu">
                                        <li class><span>6pm</span></li>
                                        <li><span>Abercrombie</span></li>
                                        <li><span>Adrianna Papell</span></li>
                                        <li><span>Joie</span></li>

                                        <li><span>Michael Stars</span></li>
                                        <li><span>Love Collection</span></li>
                                        <li><span>Ants</span></li>
                                        <li><span>Black Halo</span></li>
                                        <li><span>Alex Evenings</span></li>
                                        <li><span>Billabong</span></li>
                                        <li><span>Forever21</span></li>
                                        <li><span>Homeyee</span></li>
                                        <li><span>Kate Spade</span></li>
                                        <li><span>Danny and Nicole</span></li>
                                        <li><span>O'Neill</span></li>
                                        <li><span>Ralph Lauren</span></li>
                                        <li><span>Roxy</span></li>
                                        <li><span>Sakkas</span></li>
                                        <li><span>Sdress</span></li>
                                        <li><span>Elbon Boutique</span></li>
                                        <li><span>Nemidor</span></li>
                                        <li><span>Star Vixen</span></li>
                                        <li><span>Three Dots</span></li>
                                        <li><span>French Connection</span></li>
                                        <li><span>Bcbgmaxazria</span></li>
                                        <li><span>Halston Heritage</span></li>
                                        <li><span>London Times</span></li>
                                        <li><span>Mapal\E9 by Espiral</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="reset">
                <span>clear all</span>
            </div>
        </div>
        <div class="right">
            <h3 class="head"><span>300</span> Product Found</h3>
            <div class="sort">

                <ul class="brands-menu">
                    <span class="sort-name">Sorted By</span>
                    <li class="filter"><img src="http://res.cloudinary.com/dzl9mwemk/image/upload/v1504552914/filter_q8eczh.svg" alt="" /></li>
                    <li class><span>Best Match</span></li>
                    <li><span>Newest</span></li>
                    <li><span>Price: High to low</span></li>
                    <li><span>Price: Low to high</span></li>

                </ul>
            </div>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>
            <!-- BEGIN LOOP -->
            <div *ngIf="products" (window:scroll)="onScroll($event)" class=" row right-side ">
                <div *ngFor="let p of products" class="col-sm-6 col-md-3 ">
                    <div *ngIf="p.title" class="thumbnail">
                        <div class="top-part ">
                            <img *ngIf="p.images && p.images.large && p.images.large.url " [src]="p.images.large.url " class="img-responsive model " [alt]="p.title ">
                            <div class="add-cart ">
                                <a href="# "><img src="http://res.cloudinary.com/dzl9mwemk/image/upload/v1504552914/cart_sfguop.png " alt=" " /></a>
                                <a href="# "><img src="http://res.cloudinary.com/dzl9mwemk/image/upload/v1504552914/love_nm7drq.png " alt=" " /></a>
                            </div>
                        </div>
                        <div class="caption ">
                            <a href="# "><span class="prime ">Prime</span> {{ p.title }}</a>
                            <p class="thumb-footer">
                                <span>{{ p.currency }} {{ p.price }}</span>
                                <span *ngIf="p.offer_price && p.offer_price.new && p.offer_price.new.amount && p.offer_price.new.amount < p.price" class="discont">{{ p.currency }} {{ p.offer_price.new.amount }}</span>
                                <span *ngIf="p.offer_price && p.offer_price.new && p.offer_price.new.amount && p.offer_price.new.amount < p.price" class="disc">Sale {{ (((p.price - p.offer_price.new.amount)/(p.price))) | percent:'2.0-0'}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END LOOP -->
            <div class="row text-center ">
                <nav aria-label="Page navigation ">
                    <ul class="pagination ">
                        <li>
                            <a href="# " aria-label="Previous ">
                                <span aria-hidden="true ">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="# ">1</a></li>
                        <li><a href="# ">2</a></li>
                        <li class="active "><a href="# ">3</a></li>
                        <li><a href="# ">4</a></li>
                        <li><a href="# ">5</a></li>
                        <li>
                            <a href="# " aria-label="Next ">
                                <span aria-hidden="true ">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<martmax-footer></martmax-footer>