<!-- search -->
<form class="form-inline search-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="search-box" id="mediaid" *ngIf="categories">
        <div class="row"> 
            <select class="col-md-4 select-category" id="mediaid" formControlName="category" *ngIf="categories">
                <option  *ngFor="let category of categories" [innerHTML]="category.name | json | mQRestify"></option>
            </select>
            <div *ngIf="formErrors.category" class="label label-danger">
                {{ formErrors.category }}
            </div>
            <input formControlName="keyword" class="col-md-8 input-product" id="mediaid" placeholder="search" >
            <div *ngIf="formErrors.keyword" class="label label-danger">
                {{ formErrors.keyword }}
            </div>
            <i class="glyphicon glyphicon-search  search-btn btn btn-default search-btun"></i>
        </div>
    </div>
</form>

        
   