.single-coupon {
    background-color: #f2e6ff;
    text-align: center;
    border: 1px solid #d5d8db;
    border-radius: 0.5em;
}

.single-coupon:hover {
    box-shadow: 2px 2px #d5d8db;
}

.coupon-first-section {
    height: 50%;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: white;
}

.coupon-second-section {
    height: 50%;
    padding: 0.5em;
}

.coupon-banner {
    width: 80%;
}

.coupon-title {
    font-size: 1.5em;
    margin: 0;
}

.off-percentage {
    color: #05abdb;
    text-align: center;
    font-size: 2em;
    margin: 0;
}

.coupon-expire-date {
    font-size: 0.9em;
    margin: 0;
}

.div-code {
    background-color: #e5e5e5;
    width: 80%;
    margin: auto;
    border-radius: 1em;
}

.code {
    font-size: 1.5em;
    padding: 0.5em;
}

.copy-button {
    width: 45%;
    border: none;
    color: #db323b;
    background-color: #f4c20d;
    padding: 0.5em;
    float: right;
}

.coupon-button-div {
    margin: 0;
}

.coupon-button {
    width: 45%;
    border: none;
    color: #db323b;
    background-color: #f4c20d;
    padding: 0.5em;
    float: left;
}

.copy-button:hover {
    background-color: #0097df;
    cursor: pointer;
}

.coupon-button:hover {
    background-color: #0097df;
    cursor: pointer;
}